@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    @apply p-0 m-0 box-border;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-family: "Playfair Display", serif; */
  }
  li {
    @apply list-none;
  }
  a {
    @apply no-underline;
  }
}
@layer components {
  .heading {
    @apply text-3xl font-bold text-center relative after:absolute after:w-[8%] after:h-[2px] after:bg-green-600 after:top-12 after:left-[47%] mb-10;
  }
  /*--------------Header-----------------*/
  .hero {
    background-image: url("./img/hero.jpg");
  }

  /*--------------Call to action-----------------*/
  .first-image {
    background-image: url("./img/footer-1.jpg");
  }
  .second-image {
    background-image: url("./img/footer-2.jpg");
  }
  .third-image {
    background-image: url("./img/footer-3.jpg");
  }
  .fourth-image {
    background-image: url("./img/footer-4.jpg");
  }
  /*--------------Cart-----------------*/
  .cart-page-banner {
    @apply object-cover bg-cover h-60 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center max-w-full;
    background-image: url("./img/cart-page-banner.jpg");
  }
  .product-table {
    @apply table-auto w-full border-collapse border border-gray-200 text-[14px];
  }
  .cart-desktop {
    @apply lg:block hidden w-[90%] m-[5%] font-cairo;
  }
  .cart-thead__item {
    @apply px-6 py-4 font-semibold;
  }
  .cart-discard {
    @apply p-1 w-5 h-5 bg-base-color rounded-full text-white hover:bg-red-600 cursor-pointer;
  }
  .cart-mobile {
    @apply block lg:hidden w-[90%] m-[5%] font-cairo;
  }
  .cart-coupon {
    @apply w-36 px-5 py-3 rounded-3xl border-[1px] border-gray-400 focus:border-blue-600 focus:border-[1px] text-[14px] outline-none;
  }
  .cart-coupon__action {
    @apply translate-x-4 w-36 px-5 py-3 rounded-3xl text-white uppercase bg-base-color hover:bg-base-hover ease-linear duration-300 text-[14px];
  }
  .cart-update {
    @apply px-6 py-4 translate-x-[200%];
  }
  .cart-update__action {
    @apply w-36 px-5 py-3 rounded-3xl text-base-color uppercase border-[1px] border-base-color hover:bg-base-hover hover:text-white ease-linear duration-300  text-[14px];
  }
  .cart-proceed {
    @apply flex items-center justify-center w-full;
  }
  .cart-proceed-button {
    @apply font-cairo w-52 px-4 py-[14px] rounded-3xl text-white uppercase bg-base-color hover:bg-base-hover ease-linear duration-300 text-[14px] mt-4;
  }
  /*--------------Authentication-----------------*/
  .sub-heading {
    @apply object-cover bg-cover h-60 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center;
    background-image: url("./img/sub-heading.jpg");
  }
  .sub-heading-content {
    @apply text-white text-3xl z-10 relative before:absolute before:w-[80%] before:h-[1px] before:bg-white before:left-[10%] before:translate-y-10 after:absolute after:w-[80%] after:h-[1px] after:bg-white after:left-[10%] after:translate-y-11;
  }
  .form {
    @apply mx-4 my-10 w-[90%] ml-[5%] lg:w-[40%] lg:ml-[30%] font-playfair;
  }
  .auth-button {
    @apply px-8 py-3 text-white uppercase text-sm font-bold rounded-[4rem] bg-base-color hover:bg-base-hover;
  }
  /*--------------Feature-----------------*/
  .feature {
    @apply grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 gap-8 mt-6;
  }
  .feature-item {
    @apply w-full flex items-center flex-col;
  }
  .feature-action {
    @apply flex items-center justify-center w-full absolute left-3 bottom-8 translate-y-[250%] group-hover:translate-y-0 ease-linear duration-300;
  }
  .feature-action__item {
    @apply w-[30px] h-[30px] rounded-full flex items-center justify-center hover:bg-base-hover bg-[#fff] mr-6 hover:text-white ease-linear duration-300 hover:rotate-[360deg];
  }
  .user-avatar {
    @apply rounded-full cursor-pointer w-[30px] h-[30px] object-cover bg-cover;
  }
  .menu-dropdown__list {
    @apply absolute left-[-160px] top-10 shadow-lg w-[200px] z-20 bg-[#fff];
  }
  .menu-dropdown__item {
    @apply text-[14px] text-gray-700 hover:bg-base-color hover:text-white px-4 py-2 cursor-pointer flex items-center;
  }
  .menu-dropdown__logout {
    @apply text-[14px] flex items-center text-red-500 border-t border-gray-300 hover:bg-base-color hover:text-white px-4 py-2 cursor-pointer;
  }
  /*--------------User address-----------------*/
  .address-sub-heading {
    @apply object-cover bg-cover h-60 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.4)] before:z-0 flex items-center justify-center bg-right-bottom;
    background-image: url("./img/addressBanner.jfif");
  }
  .sub-heading-content {
    @apply text-white text-3xl z-10 relative before:absolute before:w-[80%] before:h-[1px] before:bg-white before:left-[10%] before:translate-y-10 after:absolute after:w-[80%] after:h-[1px] after:bg-white after:left-[10%] after:translate-y-11;
  }
  .form {
    @apply mx-4 my-10 w-[90%] ml-[5%] lg:w-[40%] lg:ml-[30%] font-playfair;
  }
  .auth-button {
    @apply px-8 py-3 text-white uppercase text-sm font-bold rounded-[4rem] bg-base-color hover:bg-base-hover;
  }
  .forgot-password-banner {
    @apply object-cover bg-cover h-96 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center bg-center;
    background-image: url("./img/password-forgot-1.png");
  }
  @keyframes bounce1 {
    0%,
    100% {
      transform: translateY(20vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(70vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
  @keyframes bounce2 {
    0%,
    100% {
      transform: translateY(40vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(90vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
  @keyframes bounce3 {
    0%,
    100% {
      transform: translateY(60vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(110vh);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
  .loading-effect1 {
    @apply w-12 h-12 mt-[-20vh];
    animation: bounce1 1s;
  }
  .loading-effect2 {
    @apply w-12 h-12 mt-[-40vh];
    animation: bounce2 1s;
  }
  .loading-effect3 {
    @apply w-12 h-12 mt-[-60vh];
    animation: bounce3 1s;
  }

  .image-container {
    width: 45vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  .image-container > img {
    @apply object-cover bg-cover h-full;
  }
  .image-container > img:first-child {
    width: 45vw;
    height: 350px;
    grid-column: 1/7;
  }
  .image-container > img:nth-child(2) {
    grid-column: 1/3;
  }
  .image-container > img:nth-child(3) {
    grid-column: 3/5;
  }
  .image-container > img:last-child {
    grid-column: 5/7;
  }
  .image-container > img:nth-child(2),
  .image-container > img:nth-child(3),
  .image-container > img:last-child {
    /* width: 15vw; */
    width: 100%;
    height: 100px;
  }
  .change-password-banner {
    @apply object-cover bg-cover h-96 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center bg-center;
    background-image: url("./img/change_password.jpg");
  }
  .blog-detail-banner {
    @apply object-cover bg-cover h-64 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center bg-center;
    background-image: url("./img/blog-detail.jpg");
  }
  .address-page-banner {
    @apply object-cover bg-cover h-64 relative before:absolute before:w-full before:h-full before:inset-0 before:bg-[rgba(0,0,0,0.5)] before:z-0 flex items-center justify-center bg-center;
    background-image: url("./img/addressBanner2.jfif");
  }
  .blog-description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
  }
  .AppWrapper {
    width: 500px;
    height: 400px;
    position: relative;
    @apply bg-red-500;
  }

  @keyframes fade {
    from {
      opacity: 0;
      transform: scale3D(0.95, 0.95, 0.95);
    }
    to {
      opacity: 1;
      transform: scale3D(1, 1, 1);
    }
  }

  .Form {
    animation: fade 200ms ease-out;
  }

  .FormGroup {
    margin: 0 15px 20px;
    padding: 0;
    border-style: none;
    background-color: #7795f8;
    will-change: opacity, transform;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #829fff;
    border-radius: 4px;
  }

  .FormRow {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 15px;
    border-top: 1px solid #819efc;
  }

  .FormRow:first-child {
    border-top: none;
  }

  .FormRowLabel {
    width: 15%;
    min-width: 70px;
    padding: 11px 0;
    color: #c4f0ff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @keyframes void-animation-out {
    0%,
    to {
      opacity: 1;
    }
  }
  .FormRowInput:-webkit-autofill {
    -webkit-text-fill-color: #fce883;
    /* Hack to hide the default webkit autofill */
    transition: background-color 100000000s;
    animation: 1ms void-animation-out;
  }

  .FormRowInput {
    font-size: 16px;
    width: 100%;
    padding: 11px 15px 11px 0;
    color: #fff;
    background-color: transparent;
    animation: 1ms void-animation-out;
  }

  .FormRowInput::placeholder {
    color: #87bbfd;
  }

  .StripeElement--webkit-autofill {
    background: transparent !important;
  }

  .StripeElement {
    width: 100%;
    padding: 11px 15px 11px 0;
  }

  .SubmitButton {
    display: block;
    font-size: 16px;
    width: calc(100% - 30px);
    height: 40px;
    margin: 40px 15px 0;
    background-color: #f6a4eb;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #ffb9f6;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    will-change: transform, background-color, box-shadow;
  }

  .SubmitButton:active {
    background-color: #d782d9;
    box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
      inset 0 1px 0 #e298d8;
    transform: scale(0.99);
  }

  .SubmitButton.SubmitButton--error {
    transform: translateY(15px);
  }
  .SubmitButton.SubmitButton--error:active {
    transform: scale(0.99) translateY(15px);
  }

  .SubmitButton:disabled {
    opacity: 0.5;
    cursor: default;
    background-color: #7795f8;
    box-shadow: none;
  }

  .ErrorMessage {
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0 15px;
    font-size: 13px;
    margin-top: 0px;
    width: 100%;
    transform: translateY(-15px);
    opacity: 0;
    animation: fade 150ms ease-out;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    will-change: opacity, transform;
  }

  .ErrorMessage svg {
    margin-right: 10px;
  }

  .Result {
    margin-top: 50px;
    text-align: center;
    animation: fade 200ms ease-out;
  }

  .ResultTitle {
    color: #fff;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 17px;
    text-align: center;
  }

  .ResultMessage {
    color: #9cdbff;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    line-height: 1.6em;
    text-align: center;
  }

  .ResetButton {
    border: 0;
    cursor: pointer;
    background: transparent;
  }
}
